{% extends "base.html" %}

{% block content %}
<div class="row justify-content-center align-items-center min-vh-100">
    <div class="col-md-6 col-lg-4">
        <div class="card shadow-lg">
            <div class="card-header text-center bg-military text-light py-3">
                <h4 class="mb-0">Система обліку ВТМ</h4>
            </div>
            <div class="card-body p-4">
                <form method="POST" action="{{ url_for('auth.login') }}">
                    {{ form.csrf_token }}
                    <div class="mb-3">
                        {{ form.username.label(class="form-label") }}
                        {{ form.username(class="form-control") }}
                    </div>
                    <div class="mb-4">
                        {{ form.password.label(class="form-label") }}
                        {{ form.password(class="form-control") }}
                    </div>
                    {{ form.submit(class="btn btn-military w-100") }}
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}
